        body {
            font-family: monospace;
            margin: 0;
            padding: 0;
            background-color: #2d2d2d;
        }
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: white;
            color: #2d2d2d;
            padding: 10px 20px;
        }
        /* top logo and title */
        .logo {
            display: flex;
            align-items: center;
        }
        .logo img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        /* top search bar */
        .search-bar {
            display: flex;
            align-items: center;
            background-color: #f5f5f5; /* Light background for the search bar */
            border: 1px solid #ccc; /* Border for styling */
            border-radius: 4px;
            padding: 5px;
        }
        
        .search-bar input {
            flex: 1; /* Takes up available space */
            border: none;
            outline: none;
            padding: 8px;
            border-radius: 4px;
        }
        
        .search-bar .search-icon {
            width: 20px;
            height: 20px;
            margin-left: 10px; /* Adds space between input and icon */
            cursor: pointer;
        }
        
        
        .login-btn {
            background-color: #6CFF00;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }
        .login-btn:hover {
            background-color: #2d2d2d;
        }
